<div>
  <h1>Connexion</h1>
  <h2><span *ngIf="user=='';else elseModul">Veuillez vous connecter</span><ng-template #elseModul>Bonjour, {{user|uppercase}}</ng-template></h2>
  <input type="text"  [(ngModel)]="user" >
</div>

<div *ngFor="let tweet of tweets">
  <div class="content">
    <strong>{{tweet.user}}</strong><span class="grey">{{tweet.created_at| timeAgo}}</span>
    <p>{{tweet.text}}</p>
  </div>
  <div  class="red" ><i [ngClass]="{'far': !tweet.likeB, 'fas': tweet.likeB}"  class="fa-heart clicable" (click)="likeAdd(tweet.id)"></i><span *ngIf="tweet.like"> {{tweet.like}}</span></div>
</div>
<textarea class="tweet-area" #tweetInput>

</textarea>
<br>
<button (click)="tweetAdd(tweetInput.value)" [ngClass]="{'dis': user==''}" [disabled]="user==''" class="tweet-add">Twitter</button>
